<main>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12 xl12">
        <h1 class="animated fadeInDown slower greeting">{{msg}}</h1>
        <h2 class="animated zoomIn slower question">What's My Worth?</h2>
        <form class="animated fadeInUp slower" action="POST">
          <div class="row">
            <div class="input-field col s12 m12 l12 xl12">
              <i class="material-icons prefix">search</i>
              <input id="searchItem" type="text" aria-describedby="searchItem" placeholder="Enter Search Item">
              <label for="searchItem">Search:</label>
            </div>
          </div>
          <div class="row">
            <div class="col offset-s5 offset-m5 offset-l5 offset-xl5">
              <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Submit!
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
        <br>
        <div class="divider"></div>
        <h3>Searches:</h3>
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>Item Name:</th>
              <th>Item Price:</th>
              <th>Details:</th>
              <th>Remove Item:</th>
            </tr>
          </thead>
          <tbody id="search-list" class="list-group">
              {{#each searches}}
              <tr data-id="{{this.id}}">
                <td class="list-group-item">{{this.search}}</td>
                <td>Insert Price</td>
                <td><a href="/searchInfo/{{this.id}}">{{this.search}}</a></td>
                <td><button class="btn delete">ｘ</button></td>
              </tr>
              {{/each}}
            </tr>
          </tbody>
        </table>
        {{!-- <ul id="search-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.searchItem}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>
</main>

<footer>
  <div class="container">
    <div class="col s12 m12 l12 xl12">
      <p align="center">
        <span>© 2018 Copyright | <a href="https://github.com/TroyAG/Bootcamp-project-2">GO to GitHub Repository</a></span>
      </p>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/framework.js"></script>
<script src="/js/searchPage.js"></script>
